@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
@keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.zi-spin {
    animation: spin 3000ms infinite linear;
    -moz-animation: spin 3000ms infinite linear;
    -webkit-animation: spin 3000ms infinite linear;
}
.zi-blink {
    animation: blink 2000ms infinite linear;
    -moz-animation: blink 2000ms infinite linear;
    -webkit-animation: blink 2000ms infinite linear;
}
