i.zeoot {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

/* Ocarinas */
i.zeoot.ze-fairy-ocarina {
    background-image: url(https://zelda-icons.github.io/icons/oot/fairy-ocarina.png);
}
i.zeoot.ze-ocarina-of-time {
    background-image: url(https://zelda-icons.github.io/icons/oot/ocarina-of-time.png);
}

/* General Items */
i.zeoot.ze-bomb {
    background-image: url(https://zelda-icons.github.io/icons/oot/bomb.png);
}
i.zeoot.ze-deku-stick {
    background-image: url(https://zelda-icons.github.io/icons/oot/deku-stick.png);
}
i.zeoot.ze-boomerang {
    background-image: url(https://zelda-icons.github.io/icons/oot/boomerang.png);
}
i.zeoot.ze-deku-nut {
    background-image: url(https://zelda-icons.github.io/icons/oot/deku-nut.png);
}
i.zeoot.ze-fairy-slingshot {
    background-image: url(https://zelda-icons.github.io/icons/oot/fairy-slingshot.png);
}
i.zeoot.ze-bombchu {
    background-image: url(https://zelda-icons.github.io/icons/oot/bombchu.png);
}
i.zeoot.ze-lens-of-truth {
    background-image: url(https://zelda-icons.github.io/icons/oot/lens-of-truth.png);
}
i.zeoot.ze-magic-bean {
    background-image: url(https://zelda-icons.github.io/icons/oot/magic-bean.png);
}
i.zeoot.ze-megaton-hammer {
    background-image: url(https://zelda-icons.github.io/icons/oot/megaton-hammer.png);
}

/* Hook and Long Shot */
i.zeoot.ze-hookshot {
    background-image: url(https://zelda-icons.github.io/icons/oot/hookshot.png);
}
i.zeoot.ze-longshot {
    background-image: url(https://zelda-icons.github.io/icons/oot/longshot.png);
}

/* Bow and Arrows */
i.zeoot.ze-fairy-bow {
    background-image: url(https://zelda-icons.github.io/icons/oot/fairy-bow.png);
}
i.zeoot.ze-fire-arrow {
    background-image: url(https://zelda-icons.github.io/icons/oot/fire-arrow.png);
}
i.zeoot.ze-ice-arrow {
    background-image: url(https://zelda-icons.github.io/icons/oot/ice-arrow.png);
}
i.zeoot.ze-light-arrow {
    background-image: url(https://zelda-icons.github.io/icons/oot/light-arrow.png);
}

/* Bottles and Bottled Items */
i.zeoot.ze-bottle {
    background-image: url(https://zelda-icons.github.io/icons/oot/bottle.png);
}
i.zeoot.ze-red-potion {
    background-image: url(https://zelda-icons.github.io/icons/oot/red-potion.png);
}
i.zeoot.ze-green-potion {
    background-image: url(https://zelda-icons.github.io/icons/oot/green-potion.png);
}
i.zeoot.ze-blue-potion {
    background-image: url(https://zelda-icons.github.io/icons/oot/blue-potion.png);
}
i.zeoot.ze-fairy {
    background-image: url(https://zelda-icons.github.io/icons/oot/fairy.png);
}
i.zeoot.ze-lon-lon-milk {
    background-image: url(https://zelda-icons.github.io/icons/oot/lon-lon-milk.png);
}
i.zeoot.ze-bug {
    background-image: url(https://zelda-icons.github.io/icons/oot/bug.png);
}
i.zeoot.ze-fish {
    background-image: url(https://zelda-icons.github.io/icons/oot/fish.png);
}
i.zeoot.ze-poe-soul {
    background-image: url(https://zelda-icons.github.io/icons/oot/poe-soul.png);
}
i.zeoot.ze-blue-fire {
    background-image: url(https://zelda-icons.github.io/icons/oot/blue-fire.png);
}
i.zeoot.ze-letter {
    background-image: url(https://zelda-icons.github.io/icons/oot/letter.png);
}

/* Spell Stones */
i.zeoot.ze-dins-fire {
    background-image: url(https://zelda-icons.github.io/icons/oot/dins-fire.png);
}
i.zeoot.ze-farores-wind {
    background-image: url(https://zelda-icons.github.io/icons/oot/farores-wind.png);
}
i.zeoot.ze-nayrus-love {
    background-image: url(https://zelda-icons.github.io/icons/oot/nayrus-love.png);
}

/* Swords */
i.zeoot.ze-kokiri-sword {
    background-image: url(https://zelda-icons.github.io/icons/oot/kokiri-sword.png);
}
i.zeoot.ze-master-sword {
    background-image: url(https://zelda-icons.github.io/icons/oot/master-sword.png);
}
i.zeoot.ze-giants-knife {
    background-image: url(https://zelda-icons.github.io/icons/oot/giants-knife.png);
}
i.zeoot.ze-broken-giants-knife {
    background-image: url(https://zelda-icons.github.io/icons/oot/broken-giants-knife.png);
}
i.zeoot.ze-biggoron-sword {
    background-image: url(https://zelda-icons.github.io/icons/oot/biggoron-sword.png);
}

/* Shields */
i.zeoot.ze-deku-shield {
    background-image: url(https://zelda-icons.github.io/icons/oot/deku-shield.png);
}
i.zeoot.ze-hylian-shield {
    background-image: url(https://zelda-icons.github.io/icons/oot/hylian-shield.png);
}
i.zeoot.ze-mirror-shield {
    background-image: url(https://zelda-icons.github.io/icons/oot/mirror-shield.png);
}

/* Boots */
i.zeoot.ze-kokiri-boots {
    background-image: url(https://zelda-icons.github.io/icons/oot/kokiri-boots.png);
}
i.zeoot.ze-iron-boots {
    background-image: url(https://zelda-icons.github.io/icons/oot/iron-boots.png);
}
i.zeoot.ze-hover-boots {
    background-image: url(https://zelda-icons.github.io/icons/oot/hover-boots.png);
}

/* Tunics */
i.zeoot.ze-kokiri-tunic {
    background-image: url(https://zelda-icons.github.io/icons/oot/kokiri-tunic.png);
}
i.zeoot.ze-goron-tunic {
    background-image: url(https://zelda-icons.github.io/icons/oot/goron-tunic.png);
}
i.zeoot.ze-zora-tunic {
    background-image: url(https://zelda-icons.github.io/icons/oot/zora-tunic.png);
}

/* Wallets */
i.zeoot.ze-adults-wallet {
    background-image: url(https://zelda-icons.github.io/icons/oot/adults-wallet.png);
}
i.zeoot.ze-giants-wallet {
    background-image: url(https://zelda-icons.github.io/icons/oot/giants-wallet.png);
}

/* Gauntlets */
i.zeoot.ze-gorons-bracelet {
    background-image: url(https://zelda-icons.github.io/icons/oot/gorons-bracelet.png);
}
i.zeoot.ze-silver-gauntlets {
    background-image: url(https://zelda-icons.github.io/icons/oot/silver-gauntlets.png);
}
i.zeoot.ze-golden-gauntlets {
    background-image: url(https://zelda-icons.github.io/icons/oot/golden-gauntlets.png);
}

/* Scales */
i.zeoot.ze-silver-scale {
    background-image: url(https://zelda-icons.github.io/icons/oot/silver-scale.png);
}
i.zeoot.ze-golden-scale {
    background-image: url(https://zelda-icons.github.io/icons/oot/golden-scale.png);
}

/* Bomb Bag */
i.zeoot.ze-bomb-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/bomb-bag.png);
}
i.zeoot.ze-big-bomb-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/big-bomb-bag.png);
}
i.zeoot.ze-biggest-bomb-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/biggest-bomb-bag.png);
}

/* Deku Seet Bags */
i.zeoot.ze-deku-seed-bullet-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/deku-seed-bullet-bag.png);
}
i.zeoot.ze-big-deku-seed-bullet-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/big-deku-seed-bullet-bag.png);
}
i.zeoot.ze-biggest-deku-seed-bullet-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/biggest-deku-seed-bullet-bag.png);
}

/* Quivers */
i.zeoot.ze-quiver {
    background-image: url(https://zelda-icons.github.io/icons/oot/quiver.png);
}
i.zeoot.ze-big-quiver {
    background-image: url(https://zelda-icons.github.io/icons/oot/big-quiver.png);
}
i.zeoot.ze-biggest-quiver {
    background-image: url(https://zelda-icons.github.io/icons/oot/biggest-quiver.png);
}

/* Masks */
i.zeoot.ze-keaton-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/keaton-mask.png);
}
i.zeoot.ze-skull-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/skull-mask.png);
}
i.zeoot.ze-spooky-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/spooky-mask.png);
}
i.zeoot.ze-bunny-hood {
    background-image: url(https://zelda-icons.github.io/icons/oot/bunny-hood.png);
}
i.zeoot.ze-zora-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/zora-mask.png);
}
i.zeoot.ze-goron-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/goron-mask.png);
}
i.zeoot.ze-gerudo-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/gerudo-mask.png);
}
i.zeoot.ze-mask-of-truth {
    background-image: url(https://zelda-icons.github.io/icons/oot/mask-of-truth.png);
}

/* Sacred Stones */
i.zeoot.ze-kokiris-emerald {
    background-image: url(https://zelda-icons.github.io/icons/oot/kokiris-emerald.png);
}
i.zeoot.ze-gorons-ruby {
    background-image: url(https://zelda-icons.github.io/icons/oot/gorons-ruby.png);
}
i.zeoot.ze-zoras-sapphire {
    background-image: url(https://zelda-icons.github.io/icons/oot/zoras-sapphire.png);
}

/* Quest Medallions */
i.zeoot.ze-light-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/light-medallion.png);
}
i.zeoot.ze-forest-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/forest-medallion.png);
}
i.zeoot.ze-fire-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/fire-medallion.png);
}
i.zeoot.ze-water-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/water-medallion.png);
}
i.zeoot.ze-spirit-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/spirit-medallion.png);
}
i.zeoot.ze-shadow-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/shadow-medallion.png);
}

/* Trading Items */
i.zeoot.ze-pocket-egg {
    background-image: url(https://zelda-icons.github.io/icons/oot/pocket-egg.png);
}
i.zeoot.ze-pocket-cucco {
    background-image: url(https://zelda-icons.github.io/icons/oot/pocket-cucco.png);
}
i.zeoot.ze-cojiro {
    background-image: url(https://zelda-icons.github.io/icons/oot/cojiro.png);
}
i.zeoot.ze-odd-mushroom {
    background-image: url(https://zelda-icons.github.io/icons/oot/odd-mushroom.png);
}
i.zeoot.ze-odd-poultice {
    background-image: url(https://zelda-icons.github.io/icons/oot/odd-poultice.png);
}
i.zeoot.ze-poachers-saw {
    background-image: url(https://zelda-icons.github.io/icons/oot/poachers-saw.png);
}
i.zeoot.ze-broken-goron-sword {
    background-image: url(https://zelda-icons.github.io/icons/oot/broken-goron-sword.png);
}
i.zeoot.ze-prescription {
    background-image: url(https://zelda-icons.github.io/icons/oot/prescription.png);
}
i.zeoot.ze-eyeball-frog {
    background-image: url(https://zelda-icons.github.io/icons/oot/eyeball-frog.png);
}
i.zeoot.ze-worlds-finest-eye-drops {
    background-image: url(https://zelda-icons.github.io/icons/oot/worlds-finest-eye-drops.png);
}
i.zeoot.ze-claim-check {
    background-image: url(https://zelda-icons.github.io/icons/oot/claim-check.png);
}

/* Other Items */
i.zeoot.ze-piece-of-heart {
    background-image: url(https://zelda-icons.github.io/icons/oot/piece-of-heart.png);
}
i.zeoot.ze-heart-container {
    background-image: url(https://zelda-icons.github.io/icons/oot/heart-container.png);
}
i.zeoot.ze-gold-skultula-token {
    background-image: url(https://zelda-icons.github.io/icons/oot/gold-skultula-token.png);
}
i.zeoot.ze-stone-of-agony {
    background-image: url(https://zelda-icons.github.io/icons/oot/stone-of-agony.png);
}
i.zeoot.ze-shard-of-agony {
    background-image: url(https://zelda-icons.github.io/icons/oot/shard-of-agony.png);
}
i.zeoot.ze-gerudo-token {
    background-image: url(https://zelda-icons.github.io/icons/oot/gerudo-token.png);
}
i.zeoot.ze-zeldas-letter {
    background-image: url(https://zelda-icons.github.io/icons/oot/zeldas-letter.png);
}
i.zeoot.ze-weird-egg {
    background-image: url(https://zelda-icons.github.io/icons/oot/weird-egg.png);
}
i.zeoot.ze-cucco {
    background-image: url(https://zelda-icons.github.io/icons/oot/cucco.png);
}