i.zioot {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Ocarinas */
i.zioot.zi-fairy-ocarina {
    background-image: url(https://zelda-icons.github.io/icons/oot/fairy-ocarina.png);
}
i.zioot.zi-ocarina-of-time {
    background-image: url(https://zelda-icons.github.io/icons/oot/ocarina-of-time.png);
}

/* General Items */
i.zioot.zi-bomb {
    background-image: url(https://zelda-icons.github.io/icons/oot/bomb.png);
}
i.zioot.zi-deku-stick {
    background-image: url(https://zelda-icons.github.io/icons/oot/deku-stick.png);
}
i.zioot.zi-boomerang {
    background-image: url(https://zelda-icons.github.io/icons/oot/boomerang.png);
}
i.zioot.zi-deku-nut {
    background-image: url(https://zelda-icons.github.io/icons/oot/deku-nut.png);
}
i.zioot.zi-fairy-slingshot {
    background-image: url(https://zelda-icons.github.io/icons/oot/fairy-slingshot.png);
}
i.zioot.zi-bombchu {
    background-image: url(https://zelda-icons.github.io/icons/oot/bombchu.png);
}
i.zioot.zi-lens-of-truth {
    background-image: url(https://zelda-icons.github.io/icons/oot/lens-of-truth.png);
}
i.zioot.zi-magic-bean {
    background-image: url(https://zelda-icons.github.io/icons/oot/magic-bean.png);
}
i.zioot.zi-megaton-hammer {
    background-image: url(https://zelda-icons.github.io/icons/oot/megaton-hammer.png);
}

/* Hook and Long Shot */
i.zioot.zi-hookshot {
    background-image: url(https://zelda-icons.github.io/icons/oot/hookshot.png);
}
i.zioot.zi-longshot {
    background-image: url(https://zelda-icons.github.io/icons/oot/longshot.png);
}

/* Bow and Arrows */
i.zioot.zi-fairy-bow {
    background-image: url(https://zelda-icons.github.io/icons/oot/fairy-bow.png);
}
i.zioot.zi-fire-arrow {
    background-image: url(https://zelda-icons.github.io/icons/oot/fire-arrow.png);
}
i.zioot.zi-ice-arrow {
    background-image: url(https://zelda-icons.github.io/icons/oot/ice-arrow.png);
}
i.zioot.zi-light-arrow {
    background-image: url(https://zelda-icons.github.io/icons/oot/light-arrow.png);
}

/* Bottles and Bottled Items */
i.zioot.zi-bottle {
    background-image: url(https://zelda-icons.github.io/icons/oot/bottle.png);
}
i.zioot.zi-red-potion {
    background-image: url(https://zelda-icons.github.io/icons/oot/red-potion.png);
}
i.zioot.zi-green-potion {
    background-image: url(https://zelda-icons.github.io/icons/oot/green-potion.png);
}
i.zioot.zi-blue-potion {
    background-image: url(https://zelda-icons.github.io/icons/oot/blue-potion.png);
}
i.zioot.zi-fairy {
    background-image: url(https://zelda-icons.github.io/icons/oot/fairy.png);
}
i.zioot.zi-lon-lon-milk {
    background-image: url(https://zelda-icons.github.io/icons/oot/lon-lon-milk.png);
}
i.zioot.zi-bug {
    background-image: url(https://zelda-icons.github.io/icons/oot/bug.png);
}
i.zioot.zi-fish {
    background-image: url(https://zelda-icons.github.io/icons/oot/fish.png);
}
i.zioot.zi-poe-soul {
    background-image: url(https://zelda-icons.github.io/icons/oot/poe-soul.png);
}
i.zioot.zi-blue-fire {
    background-image: url(https://zelda-icons.github.io/icons/oot/blue-fire.png);
}
i.zioot.zi-letter {
    background-image: url(https://zelda-icons.github.io/icons/oot/letter.png);
}

/* Spell Stones */
i.zioot.zi-dins-fire {
    background-image: url(https://zelda-icons.github.io/icons/oot/dins-fire.png);
}
i.zioot.zi-farores-wind {
    background-image: url(https://zelda-icons.github.io/icons/oot/farores-wind.png);
}
i.zioot.zi-nayrus-love {
    background-image: url(https://zelda-icons.github.io/icons/oot/nayrus-love.png);
}

/* Swords */
i.zioot.zi-kokiri-sword {
    background-image: url(https://zelda-icons.github.io/icons/oot/kokiri-sword.png);
}
i.zioot.zi-master-sword {
    background-image: url(https://zelda-icons.github.io/icons/oot/master-sword.png);
}
i.zioot.zi-giants-knife {
    background-image: url(https://zelda-icons.github.io/icons/oot/giants-knife.png);
}
i.zioot.zi-broken-giants-knife {
    background-image: url(https://zelda-icons.github.io/icons/oot/broken-giants-knife.png);
}
i.zioot.zi-biggoron-sword {
    background-image: url(https://zelda-icons.github.io/icons/oot/biggoron-sword.png);
}

/* Shields */
i.zioot.zi-deku-shield {
    background-image: url(https://zelda-icons.github.io/icons/oot/deku-shield.png);
}
i.zioot.zi-hylian-shield {
    background-image: url(https://zelda-icons.github.io/icons/oot/hylian-shield.png);
}
i.zioot.zi-mirror-shield {
    background-image: url(https://zelda-icons.github.io/icons/oot/mirror-shield.png);
}

/* Boots */
i.zioot.zi-kokiri-boots {
    background-image: url(https://zelda-icons.github.io/icons/oot/kokiri-boots.png);
}
i.zioot.zi-iron-boots {
    background-image: url(https://zelda-icons.github.io/icons/oot/iron-boots.png);
}
i.zioot.zi-hover-boots {
    background-image: url(https://zelda-icons.github.io/icons/oot/hover-boots.png);
}

/* Tunics */
i.zioot.zi-kokiri-tunic {
    background-image: url(https://zelda-icons.github.io/icons/oot/kokiri-tunic.png);
}
i.zioot.zi-goron-tunic {
    background-image: url(https://zelda-icons.github.io/icons/oot/goron-tunic.png);
}
i.zioot.zi-zora-tunic {
    background-image: url(https://zelda-icons.github.io/icons/oot/zora-tunic.png);
}

/* Wallets */
i.zioot.zi-adults-wallet {
    background-image: url(https://zelda-icons.github.io/icons/oot/adults-wallet.png);
}
i.zioot.zi-giants-wallet {
    background-image: url(https://zelda-icons.github.io/icons/oot/giants-wallet.png);
}

/* Gauntlets */
i.zioot.zi-gorons-bracelet {
    background-image: url(https://zelda-icons.github.io/icons/oot/gorons-bracelet.png);
}
i.zioot.zi-silver-gauntlets {
    background-image: url(https://zelda-icons.github.io/icons/oot/silver-gauntlets.png);
}
i.zioot.zi-golden-gauntlets {
    background-image: url(https://zelda-icons.github.io/icons/oot/golden-gauntlets.png);
}

/* Scales */
i.zioot.zi-silver-scale {
    background-image: url(https://zelda-icons.github.io/icons/oot/silver-scale.png);
}
i.zioot.zi-golden-scale {
    background-image: url(https://zelda-icons.github.io/icons/oot/golden-scale.png);
}

/* Bomb Bag */
i.zioot.zi-bomb-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/bomb-bag.png);
}
i.zioot.zi-big-bomb-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/big-bomb-bag.png);
}
i.zioot.zi-biggest-bomb-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/biggest-bomb-bag.png);
}

/* Deku Seet Bags */
i.zioot.zi-deku-seed-bullet-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/deku-seed-bullet-bag.png);
}
i.zioot.zi-big-deku-seed-bullet-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/big-deku-seed-bullet-bag.png);
}
i.zioot.zi-biggest-deku-seed-bullet-bag {
    background-image: url(https://zelda-icons.github.io/icons/oot/biggest-deku-seed-bullet-bag.png);
}

/* Quivers */
i.zioot.zi-quiver {
    background-image: url(https://zelda-icons.github.io/icons/oot/quiver.png);
}
i.zioot.zi-big-quiver {
    background-image: url(https://zelda-icons.github.io/icons/oot/big-quiver.png);
}
i.zioot.zi-biggest-quiver {
    background-image: url(https://zelda-icons.github.io/icons/oot/biggest-quiver.png);
}

/* Masks */
i.zioot.zi-keaton-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/keaton-mask.png);
}
i.zioot.zi-skull-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/skull-mask.png);
}
i.zioot.zi-spooky-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/spooky-mask.png);
}
i.zioot.zi-bunny-hood {
    background-image: url(https://zelda-icons.github.io/icons/oot/bunny-hood.png);
}
i.zioot.zi-zora-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/zora-mask.png);
}
i.zioot.zi-goron-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/goron-mask.png);
}
i.zioot.zi-gerudo-mask {
    background-image: url(https://zelda-icons.github.io/icons/oot/gerudo-mask.png);
}
i.zioot.zi-mask-of-truth {
    background-image: url(https://zelda-icons.github.io/icons/oot/mask-of-truth.png);
}

/* Sacred Stones */
i.zioot.zi-kokiris-emerald {
    background-image: url(https://zelda-icons.github.io/icons/oot/kokiris-emerald.png);
}
i.zioot.zi-gorons-ruby {
    background-image: url(https://zelda-icons.github.io/icons/oot/gorons-ruby.png);
}
i.zioot.zi-zoras-sapphire {
    background-image: url(https://zelda-icons.github.io/icons/oot/zoras-sapphire.png);
}

/* Quest Medallions */
i.zioot.zi-light-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/light-medallion.png);
}
i.zioot.zi-forest-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/forest-medallion.png);
}
i.zioot.zi-fire-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/fire-medallion.png);
}
i.zioot.zi-water-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/water-medallion.png);
}
i.zioot.zi-spirit-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/spirit-medallion.png);
}
i.zioot.zi-shadow-medallion {
    background-image: url(https://zelda-icons.github.io/icons/oot/shadow-medallion.png);
}

/* Trading Items */
i.zioot.zi-pocket-egg {
    background-image: url(https://zelda-icons.github.io/icons/oot/pocket-egg.png);
}
i.zioot.zi-pocket-cucco {
    background-image: url(https://zelda-icons.github.io/icons/oot/pocket-cucco.png);
}
i.zioot.zi-cojiro {
    background-image: url(https://zelda-icons.github.io/icons/oot/cojiro.png);
}
i.zioot.zi-odd-mushroom {
    background-image: url(https://zelda-icons.github.io/icons/oot/odd-mushroom.png);
}
i.zioot.zi-odd-poultice {
    background-image: url(https://zelda-icons.github.io/icons/oot/odd-poultice.png);
}
i.zioot.zi-poachers-saw {
    background-image: url(https://zelda-icons.github.io/icons/oot/poachers-saw.png);
}
i.zioot.zi-broken-goron-sword {
    background-image: url(https://zelda-icons.github.io/icons/oot/broken-goron-sword.png);
}
i.zioot.zi-prescription {
    background-image: url(https://zelda-icons.github.io/icons/oot/prescription.png);
}
i.zioot.zi-eyeball-frog {
    background-image: url(https://zelda-icons.github.io/icons/oot/eyeball-frog.png);
}
i.zioot.zi-worlds-finest-eye-drops {
    background-image: url(https://zelda-icons.github.io/icons/oot/worlds-finest-eye-drops.png);
}
i.zioot.zi-claim-check {
    background-image: url(https://zelda-icons.github.io/icons/oot/claim-check.png);
}

/* Other Items */
i.zioot.zi-piece-of-heart {
    background-image: url(https://zelda-icons.github.io/icons/oot/piece-of-heart.png);
}
i.zioot.zi-heart-container {
    background-image: url(https://zelda-icons.github.io/icons/oot/heart-container.png);
}
i.zioot.zi-gold-skultula-token {
    background-image: url(https://zelda-icons.github.io/icons/oot/gold-skultula-token.png);
}
i.zioot.zi-stone-of-agony {
    background-image: url(https://zelda-icons.github.io/icons/oot/stone-of-agony.png);
}
i.zioot.zi-shard-of-agony {
    background-image: url(https://zelda-icons.github.io/icons/oot/shard-of-agony.png);
}
i.zioot.zi-gerudo-token {
    background-image: url(https://zelda-icons.github.io/icons/oot/gerudo-token.png);
}
i.zioot.zi-zeldas-letter {
    background-image: url(https://zelda-icons.github.io/icons/oot/zeldas-letter.png);
}
i.zioot.zi-weird-egg {
    background-image: url(https://zelda-icons.github.io/icons/oot/weird-egg.png);
}
i.zioot.zi-cucco {
    background-image: url(https://zelda-icons.github.io/icons/oot/cucco.png);
}