.zi-lg {
    height: 1.33em !important;
    width: 1.33em !important;
    margin: 0 0.0665em 0 0.133em !important;
    vertical-align: -0.133em !important;
    background-size: auto 1.33em !important;
}
.zi-2x {
    height: 2em !important;
    width: 2em !important;
    margin: 0 0.1em 0 0.2em !important;
    vertical-align: -0.2em !important;
    background-size: auto 2em !important;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.zi-3x {
    height: 3em !important;
    width: 3em !important;
    margin: 0 0.15em 0 0.3em !important;
    vertical-align: -0.3em !important;
    background-size: auto 3em !important;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.zi-4x {
    height: 4em !important;
    width: 4em !important;
    margin: 0 0.2em 0 0.4em !important;
    vertical-align: -0.4em !important;
    background-size: auto 4em !important;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.zi-5x {
    height: 5em !important;
    width: 5em !important;
    margin: 0 0.25em 0 0.5em !important;
    vertical-align: -0.5em !important;
    background-size: auto 5em !important;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}