<!DOCTYPE html>
<html lang="en-US">
<head>
<title>{{ site.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="YourNetworkNerd">
<meta name="description" content="{{ site.description }}">
<meta name="theme-color" content="#{{ site.color }}">
<link rel="shortcut icon" href="{{ site.url }}/icons/oot/hylian-shield.png">
<!-- OpenGraph Tags -->
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.url }}/{{ site.logo }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<!-- Twitter Tags -->
<meta name="twitter:card" content="summary_large_image">
<!-- Vendor CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin>
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/zelda.core.css">
<link rel="stylesheet" href="{{ site.url }}/css/all.core.css">
<!-- Vendor JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin></script>
<script src="https://kit.fontawesome.com/092f47d6e1.js" crossorigin></script>
</head>
<body class="text-center bg-dark text-light">
    <div class="container">
        <h1 class="display-1 triforce text-primary text-shadow">Zelda iconS</h1>
        <p class="lead">
            <i class="zioot zi-hylian-shield"></i> {{ site.description }} <i class="zioot zi-master-sword"></i>
        </p>
        <a class="btn btn-primary" href="#about">Learn More</a> 
    </div>
    <br><br>
    <div id="contents" class="container">
        <h3 class="text-primary text-shadow">Demo, Contents and CDN!</h3>
        <span id="status" class="text-success"></span>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Game</th>
                    <th scope="col">Icons</th>
                    <th scope="col">Demo</th>
                    <th scope="col">Result</th>
                    <th scope="col">CDN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>All Games</td>
                    <td>98</td>
                    <td><code>Refer to Any Demo Below</code></td>
                    <td><i class="zioot zi-master-sword"></i></td>
                    <td><button onclick="cdnCopy('all')" class="btn btn-primary btn-sm">Copy</button></td>
                </tr>
                <tr>
                    <td>Ocarina of Time</td>
                    <td>98</td>
                    <td><code>&lt;i class="zioot zi-deku-stick"&gt;&lt;/i&gt;</code></td>
                    <td><i class="zioot zi-deku-stick"></i></td>
                    <td><button onclick="cdnCopy('ocarina-of-time')" class="btn btn-primary btn-sm">Copy</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>
    <footer class="container">
        <span class="text-muted">The Legend of Zelda &copy; Nintendo Co., Ltd</span>
        <br>
        <span class="text-muted">
            <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by <a class="text-link" href="{{ site.twitter }}">YourNetworkNerd</a>
        </span>
    </footer>
</body>
<script type="text/javascript">
function cdnCopy(elem) {
    var $cdn = $('<input>');
    $('body').append($cdn);
    $cdn.val(`https://zelda-icons.gihub.io/css/${elem}.core.css`).select();
    document.execCommand("copy");
    $temp.remove();
    $('#status').html('Copied!');
    $('#status').fadeOut('slow');
}
</script>
</html>